<h4>r/{{ activeSubName }}</h4>
<hr />
<div class='subredditActions'>
  <button 
    class="btn btn-sm mr-2 refresh-button btn-outline-secondary" 
    (click)="refreshActive(activeSubName)"
  ><img src="/assets/svg/loop-circular.svg" alt=""></button>
  <button *ngIf="isSubscribed" class='btn btn-primary btn-sm' (click)="unsubscribe()">Unsubscribe</button>
  <button *ngIf="! isSubscribed" class='btn btn-primary btn-sm' (click)="subscribe()">Subscribe</button>
</div>
<hr />
 
<ul class="thread-list" *ngIf="activeSub.children">
  <li *ngFor="let thread of activeSub.children" class="mt-2">
    <app-thread [data]="thread.data"></app-thread>
  </li>
</ul>   

<div class="row mt-5 mb-5">
  <div class="col-12">
    <button class="btn btn-outline-secondary btn-block" (click)="loadMore()">LOAD MORE</button>
  </div>
</div>
 
 