<div>
  <form class='form-inline mb-2'>
    <div class="input-group">
      <input [(ngModel)]="searchTerm" type="text" placeholder="/r/query" class='form-control' name="searchTerm" />
      <div class="input-group-append">
        <button (click)="runSearch()" class='btn btn-primary'>Search</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="searchResults">
  <h6>Search Results <img src="/assets/svg/circle-x.svg" class='icon float-right' alt="" (click)="closeResults()"></h6>
  <ul class="search-results">
    <li 
      class='search-result' 
      *ngFor="let result of searchResults"
      (click)="setActiveSub(result)"
    >
      <small>{{ result }}</small>
    </li> 
  </ul> 
</div>

