.search-results{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.search-result{
    cursor: pointer;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.search-result:hover{
    background-color: #cdcdcd;
    transition: all .2s ease;
    border-radius: 4px;
}

.icon{
    height: 15px;
    cursor: pointer;
    margin-top: 2px;
}

