.thread-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 10%;
    background-color: rgba(255, 255, 255, .95);
    overflow-y: scroll;
    z-index: 999;
    border-left: 2px solid rgba(0,0,0,.5);
}

.icon{
    width: 15px;
    margin-right: 4px;
}

.thread-text{
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 15px;
    padding-bottom: 15px;
}

.arrow-icon {
  width: 24px;
  cursor: pointer;
}

.collapse-icon{
    width: 24px;
    cursor: pointer;
}

.refresh-icon{
    width: 24px;
}

.span-row{
    width: 100%;
}