<h6>
    <img *ngIf="! textVisible" class='icon expand-icon fixed-left' src="/assets/svg/arrow-bottom.svg" alt="" (click)="toggleText()" />
    <img *ngIf="textVisible" class='icon expand-icon fixed-left' src="/assets/svg/arrow-top.svg" alt="" (click)="toggleText()" />

    <a (click)="getThread()">{{ data.title }}
        <span class='fixed-right'>({{data.num_comments}})</span>
    </a>

</h6>
<p *ngIf="textVisible" [innerHTML]="data.selftext_html"></p>       

<div *ngIf="threadVisible">
    <app-thread-details [id]="data.id" [sub]="data.subreddit" [close]="passableClose" ></app-thread-details>
</div>     